h1,
p {
  font-family: Lato;
  color: #222;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0.5rem;
}

body {
  background-color: #f1f1f1;
}
ul {
  list-style: none;
}
